from pathlib import Path
import asyncio
from playwright.async_api import async_playwright


async def main():

    # Perfil específico do Edge
    edge_profile = (
        Path.home()
        / "AppData"
        / "Local"
        / "Microsoft"
        / "Edge"
        / "User Data"
        / "Default"
    )

    print("Abrindo perfil:")
    print(edge_profile)

    async with async_playwright() as p:

        context = await p.chromium.launch_persistent_context(
            user_data_dir=str(edge_profile),
            channel="msedge",
            headless=False,
            locale="pt-BR",
            viewport={
                "width": 1440,
                "height": 1000
            },
        )

        page = context.pages[0] if context.pages else await context.new_page()

        await page.goto(
            "https://x.com/home",
            wait_until="domcontentloaded"
        )

        print("Página aberta.")
        print("Confira se está logado.")

        await asyncio.to_thread(
            input,
            "ENTER para fechar..."
        )

        await context.close()


if __name__ == "__main__":
    asyncio.run(main())